body {
  background: 		#E9967A;
  font-family: monospace;
}

.fullContainer {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  line-height: 290px;
  background: #8B0000;
}

.headerText{
  font-weight: bold;
  font-family: cursive;
  font-size: 90px;
  color: white;
}

h5 {
  font-weight: bold;
  color: #FFDEAD;
  font-size: 30px;
}
. h3 {
  font-weight: bold;
  color: #00;
}

.column{
  float: left;
}

.sidebar {
  color: white;
  padding: 1%;
  height: 90vh;
  width: 88%;
  margin-top: 2%;
  background: #CD5C5C;
  position: absolute;
  text-align: center;
}


.pingpongform {
  margin-top: 2%;
}

#btn-custom {
  background: #708090;
  color: white;
}

.formcontainer {
  margin-top: 4%;
  margin-left: 0%;
}

.resultsOutput {
  margin-left: 20%;
}
